.event-box {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 2%;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    width: 650px;
    height: 500px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.event-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.events ul {
    text-align: left;
    height: 350px;
    width: 550px;
    overflow: hidden;
    overflow-y: scroll;
    padding-left: 10px;
}

.events li {
    padding-bottom: 10px;
    color: #34495e;
    background-color: #f4f4f4;
    font-size: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
}
#event-name {
    font-size: 30px;
    padding: 15px;
}

.div2 {
    margin-left: 20px;
    margin-right: 20px;
}